/*
  mobile first
*/
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  transition: all .3s ease-in-out;
}
*:before, *:after {
  box-sizing: border-box;
}
body{
  position: relative;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #404040;
  background: #ffffff;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; overflow-y: auto;
}
/*#DCFFEE  reset linear-gradient(80deg, #00AEFF, #3369E7);*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img,strong, i,ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, embed,
figure, figcaption, footer, header, hgroup,
nav, section,  audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
	display: block;
}
ol, ul{
	list-style: none;
}
img {
  object-fit: cover;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
  color: #696969;
  cursor: pointer;
}
a:hover {
  color: #000;
}
blockquote{
  text-align: center;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  content: open-quote;
  font-size: 2.8em;
  vertical-align: -0.2em;
}
blockquote:after {
  content: close-quote;
  font-size: 2.8em;
  vertical-align: -0.8em;
}

h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.75em;}
h4{font-size: 1.5em;}
h5{font-size: 1.25em;}
h6{font-size: 1em;}

/*********************************************
    Layout styles using css flexbox model
**********************************************/
/* Defines an element as flex */
.flex{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}
.flex-wrap{
  -webkit-flex-wrap:wrap;
  -moz-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.nowrap {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.justify-content-flex-start {
  -webkit-justify-content:  flex-start;
  -moz-justify-content:  flex-start;
  -ms-justify-content:  flex-start;
  justify-content:  flex-start;
}
.justify-content-flex-end {
  -webkit-justify-content:  flex-end;
  -moz-justify-content:  flex-end;
  -ms-justify-content:  flex-end;
  justify-content:  flex-end;
}
.column{
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-flex-direction:column;
  -ms-flex-direction:column;
  -webkit-flex-direction:column;
  -o-flex-direction:column;
  flex-direction: column;
}
.justify-content-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.align-items-center{
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.align-items-end {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
.justify-content-space-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.justify-content-space-around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.align-self-end{
  align-self: flex-end;
}
.align-self-center{
  align-self: center;
}

/* Dividing the screen into 6 columns

  the sizes can be edited as i cant really find the best sizes to use
  lg : for screens with width 1200px and above.
  md : for screens with max-width of 992px.
  sm : for screens with max0width of 768px.
*/
.col-lg-6 { width: 100%; }
.col-md-6 { width: 100%; max-width: 992px !important;}
.col-sm-6 { width: 100%; max-width: 768px !important;}

.col-lg-5 { width: 88.333333%; }
.col-md-5 { width: 88.333333%; max-width: 826.663px !important;}
.col-sm-5 { width: 88.333333%; max-width: 639.997px !important;}

.col-lg-4 { width: 66.666666%; }
.col-md-4 { width: 66.666666%; max-width: 661.326px !important;}
.col-sm-4 { width: 66.666666%; max-width: 511.994px !important;}

.col-lg-3 { width: 50%; }
.col-md-3 { width: 50%; max-width: 496px !important;}
.col-sm-3 { width: 50%; max-width: 384px !important;}

.col-lg-2 { width: 33.333333%; }
.col-md-2 { width: 33.333333%; max-width: 330.663px !important;}
.col-sm-2 { width: 33.333333%; max-width: 255.997px !important;}

.col-lg-1 { width: 16.666666%; }
.col-md-1 { width: 16.666666%; max-width: 165.326px !important;}
.col-sm-1 { width: 16.666666%; max-width: 127.994px !important;}
.vh-100 { height: 100vh; }
.hidden { display: none; }


/* TEXT SETTINGS */
/* CSS for font sizes. */
/* 1em = 16px
   xem = ypx
*/
.text-12 { font-size: 0.75em; }
.text-14 { font-size: 0.875em; }
.text-15 { font-size: 0.9375em; }
.text-16 { font-size: 1em; }
.text-17 { font-size: 1.0625em; }
.text-20 { font-size: 1.25em; }
.text-21 { font-size: 1.3125em; }
.text-25 { font-size: 1.5625em; }
.text-30 { font-size: 1.875em; }
.text-45 { font-size: 2.8125em; }
.text-weight-100 { font-weight: 100; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
p {
  /* margin: 10px 0px; */
}
/* *******************************
    MARGINS AND PADDINGS
**********************************/
.mar-15 { margin: 15px; } 
.mar-30 { margin: 30px; }
.mb-15 { margin-bottom: 15px}
.mar-tb-15 { margin-top: 15px; margin-bottom: 15px}
.mar-t-100 { margin-top: 100px;}
.mar-tb-30 { margin-top: 30px; margin-bottom: 30px}
.mar-lr-15 { margin-left: 15px; margin-right: 15px;}
.pad-15 { padding: 15px; }
.pad-tb-30 { padding-top: 30px; padding-bottom: 30px}
.pad-lr-15 { padding-left: 15px; padding-right: 15px;}
.pad-lr-30 { padding-left: 30px; padding-right: 30px;}

.card-view {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 5px;
}
.error {
  background: rgb(242, 222, 222);
  color : rgb(169, 68, 66);
  padding: 15px;
  border: 1px solid rgb(235, 204, 209);
  border-radius: 4px;
}
.info {
  background: rgb(217, 237, 247);
  color : rgb(49, 112, 143);
  padding: 15px;
  border: 1px solid rgb(188, 232, 241);
  border-radius: 4px;
}
.success {
  background: rgb(223, 240, 216);
  color : rgb(60, 118, 61);
  padding: 15px;
  border: 1px solid rgb(214, 233, 198);
  border-radius: 4px;
}
b {
  font-weight: 700;
}
