/* 
header
sidebar
*/
header {
    background: transparent;
    position: fixed;
    height: 50px;
    top: 0; left: 0;
    z-index: 99;
}
header.open, .bg-colored {
    background:#ffb202;
}
.bg-white {
    background: #FFF;
}
.menu-toggle {
    padding: 20px;
}
/* content holder */
#content {
    margin-top: 0px;
}
.hide-overflow {
    overflow: hidden;
}
/* style for sidebar starts here */
.sn-backdrop {
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    opacity: 0;
    z-index: 50;
    will-change: opacity
}

.sn-visible .sn-backdrop {
    display: block
}

.sn-sidenav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    width: 300px;
    overflow: hidden;
    will-change: transform;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    background:#ffb202;
    background-size: contain;
    padding: 0px;
    color: #fff;
    z-index: 999;
}

.bg-img-side { 
    /* background image for side bar */
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100vh; width: 300px;
    z-index: -1;
    overflow: hidden;
}
.sn-content {
    position: relative;
    z-index: 10
}

.sn-visible,
.sn-visible body,
.sn-visible .sn-content {
    overflow: hidden
}
.avatar {
    /* sidebar avatar */
    width: 90px; height: 90px;
    border-radius: 45px;
}
.avatar-xm {
    /* sidebar avatar */
    width: 40px; height: 40px;
    border-radius: 20px;
}
/* styling for sidebar ends here */

/* styling for the main menu starts here */
ul.menu li a {
    color:#333;
    margin: 0; padding: 8px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
ul.menu li a i {
    font-size: 15px;
    margin: 0px;
    width: 25px;
}
.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: #ffae00 radial-gradient(circle, transparent 1%, #ffae00 1%) center/15000%;
}
.ripple:active {
    background-color: #eca406;
    background-size: 100%;
    transition: background 0s;
}

/* navigation menu end */

/* form styling */

label {
    font-size: 14px;
    margin: 2px 10px;
}
input[type="text"], input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    border:none;
    width: 250px;
}
input[type="text"]:active, input[type="password"]:active, input[type="text"]:focus, input[type="password"]:focus {
    border: none;
    background: transparent;
}
.form-icon:focus-within {
    border: 1px solid #ffb202;
}
.form-icon:focus-within i {
    color: #ffb202;
}
.form-group {
    display: flex;
    flex-flow: column nowrap;
    margin: 15px;
}
.form-icon {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    height: 40px;
}
.form-icon i {
    width: 20px;
}
input.iconic-input{
    padding: 5px 10px 9px 10px;
}
button {
    border: none;
    background: #0763b2;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    color: #FFF;
    text-transform: uppercase;
    margin: 10px;
}
/* search form in landing page */
.form-like-pandora i {
    font-size: 20px;
 }
 .form-like-pandora  {
     border-radius: 8px;
     padding: 20px;
     background: #FFF;
     z-index: 999;
 }
 .dope-form > input.pando {
     border: none;
     padding: 15px;
     min-width: 10px !important;
     max-width: 230px;
     /* background: #ffae00; */
 }
 .dope-form > button.pando-btn {
     border: none;
     padding: 15px;
     min-width: 150px;
     width: 100%;
     cursor: pointer;
     background: #342b29;
 }
 .dope-form button.pando-btn:hover {
     background: #333;
     color:#FFF;
 }
.btn {
    border: none;
    border-radius: 3px;
    background: rgb(100, 100, 100);
    color: #FFF;
    padding: 10px 20px;
    margin: 20px 0;
}

.logoImg {
    width: 50px; height: 50px;object-fit: contain;
}
.border-radius {
    border-radius: 8px;
}
.card-view-2 {
    border: 1px solid rgb(218, 220, 224);
}
.blue-link {
    color: #0763b2;
}
.mobile-width{ 
    width: 400px;
    max-width: 400px;
}
.menu-open {
    color: #FFF;
    font-size: 20px;
}
.force-center {
     width: 90%;
     margin-left: -20px;
     text-align: center;
     color: #FFF;
}
.lower-cut {
 border-bottom: 1px solid #ccc;
}
.ero-im {
    position: absolute;
    left: 0; top: 0;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
    z-index: -2;
}
.overlay {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    left: 0; top: 0;
    position: absolute;
    background: #ffb202;
    opacity: 0.2;
    z-index: -1;
}
.hero-3 {
 background: #ffb202;
 position: relative;
 min-height: 100vh;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 position: relative;
 -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
/* destination listings */
.destination-ul li, .destination-details-ul li {
 margin: 20px;
 border-radius: 5px;
 padding: 20px;
 min-width: 300px;
}
.destination-ul li p {
 margin: 2px;
}
.green-light {
 color: rgb(23, 189, 87);
}
.destination-bus-icon {
    justify-content: center;
    align-items: center;
}
.destination-bus-icon::after, .destination-bus-icon::before {
    display: inline-block;
    content: " ";
    width: 40px;
    height: 1px !important;
    padding: 0;
    background: #CCC;
    margin: 0 20px;
}
.bus-logo {
    width: 60px; height: 60px;
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
    margin: 25px;
}
.x-logo {
    width: 60px; height: 60px;
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover; 
}
.beneficiary-ul li {
    min-width: 300px;
    width: 380px;
    margin-bottom: 12px;
}
.beneficiary-text p {
    margin: 0px;
}
.select-beneficiary-input {
    border: 1px solid #CCC;
    border-radius: 5px;
}
.select-beneficiary-input input {
    padding: 20px;
    min-width: 300px;
}
@media only screen and (max-width: 720px) {
    .mobile-width{
        width: 90%;
        max-width: 90%;
    }
    .beneficiary-ul li {
        width: 95%;
        max-width: 95%;
    }
}

